@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:wght@700&display=swap');

body{
    font-family: 'Open Sans';
    background-color: #F5F4F4;
}

:root{
    --padding-container: 90px 0;
    --color-title:#F5F4F4;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #F5F4F4;
    background: #458389;
    background: linear-gradient(77deg, rgba(69,131,137,1) 0%, rgba(76,78,66,1) 100%);
}

html{
    scroll-behavior: smooth;
}

/* Nav */

.nav{
    --padding-container:0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    position: fixed;
    z-index: 10;
}

nav.abajo{
    margin-top: 0;
    background-color: #00000070;
    backdrop-filter:blur(8px);
    box-shadow: 3px 3px 3px rgb(0,0,0,0.089);
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: #F5F4F4;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
    padding-left: 30px;
}


.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

.nav__logo img{
    width: 60px;
}

/*Hero container*/


.hero__container{
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1em;
    text-align: left;
    margin-top: 150px;
}

.hero__title{
    font-size: 5em;
    font-family: 'Playfair Display';

}

.hero__subtitle{
    font-size: 4em;
    color: #FFFFA2;
    font-family: 'Merriweather';
}


.hero__paragraph p{
    margin-top: 20px;
    font-size: 20px;
    color: #F5F4F4;
    width: 40%;
    padding-bottom: 30px;
}

.hero__img__icons{
    width: 30px;
}

.hero__img{
    width: 100%;
    mask-image: linear-gradient(#458389 80%,transparent);
}


.hero__texts{
    width: 100%;
    z-index: 2;
}

.hero__divimg{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
}

/*About*/

.about{
    text-align: left;
    height: 100vh;
}

.about h2{
    color: #0A3C43;
}

.title{
    font-family: 'Playfair Display';
    font-size: 4em;
}

.subtitle{
    font-size: 2em;
    margin-bottom: 5px;
    font-family: 'Merriweather';
}

.about__paragraph{
    line-height: 1.7;
    color: #848484;

}

.about__main{
    padding: 30px;
    display: grid;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    margin-top: 10%;

}


.about__icons{
    display: grid;
    gap: 0.3em;
    justify-items: center;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 32px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.068);

}

.about__icons:hover{
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    transition: 0.9s;
}

.about__icon{
    width: 50px;
}
.about__title{
    font-family: 'Montserrat';
    font-size: 2rem;
}

/*Article*/

.article{
    background: url(../img/background-article.png);
    background-size: cover;
    background-position: center center;
    color: #F5F4F4;
    height: 100vh;

}

.article__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    width: 100%;
    padding: 30px;
    height: auto;
}

.article__texts{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20%;
}

.article h1{
    padding-bottom: 50px;
    
}

.article h3{
    font-family: 'roboto';
    font-size: 2rem;
    padding-bottom: 10px;
}

.article__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
    color: #F5F4F4;
    font-size: 20px;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #F5F4F4;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 100vmax;
    width: 20%;
    padding: .5rem;
    border: 1px solid #F5F4F4;
    transition: 0.5s;
}

.cta:hover{
    background: #F5F4F4;
    color: #232323;
}

.article__videos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    padding: 20px;
    background-color: #f5f4f425;
    border-radius: 32px;
    backdrop-filter:blur(8px);
    border-top: 1px  solid rgba(255, 255, 255, 0.4);
    border-top: 1px  solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 3px rgb(0,0,0,0.089);


}

.article__video{
    width: 50%;
    border-radius: 12px;
    -webkit-box-shadow:0px 0px 32px 0px rgba(62,66,66,0.2);
    -moz-box-shadow: 0px 0px 32px 0px rgba(62,66,66,0.2);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.4);
}

.article__process{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    text-align: center;
    height: 100vh;
}

.article__videos a{
    display: none;
}

/* Projects */

.projects{
    width: 100%;
    float: left;
    padding: 30px 15px;
}

.projects__container{
    padding-bottom: 0;
}

.projects__title{
    font-size: 2rem;
    margin: 0;
    color: #232323;
    padding-bottom: 20px;
}

.projects__images{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap ;
}

.projects__item{
    float: left;
    width: 25%;
    position: relative;
    margin: 30px;

}

.projects__item.hide{
    display: none;
}

.projects__item.show{
    display: block;
    animation: show  .5s ease;
}

@keyframes show{
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.projects__item img{
    width: 100%;
    display: block;
    
}

.projects__caption{
    position: absolute;
    left: 0px;
    bottom: 0;
    background: rgb(35,35,35);
    background: linear-gradient(180deg, rgba(35,35,35,0) 0%, rgba(35,35,35,0.5046393557422969) 39%, rgba(35,35,35,1) 96%);
    padding: 10px;
    padding-top: 30%;
    width: 100%;
    height: 50%;
    color: #F5F4F4;
    text-align: center;
}

.projects__caption p{
    padding: .25rem;
}

.pagination{
    width: 100%;
    height: 120px;
    float: left;
    padding: 15px;
    text-align: center;
}

.pagination div{
    display: inline-block;
    margin: 0 10px;
    width: 50px;
}

.prev, .next{
    color: #232323;
    padding: 10px 15px;
    border-radius: 100vmax;
    background-color: #458389de;
    cursor: pointer;
}

.prev img,.next img{
    width: 100%;
}


.prev.disabled, .next.disabled{
    background-color: #d1d1d198;
    pointer-events: none;
}

/* Questions */

.questions{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: auto;
    border-top: 1px solid #232323;

    justify-content: center;
}

.questions h1{
    padding-bottom: 15px;
}

.questions p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 100px;
    padding-bottom: 100px;

}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #232323;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    display: flex;
    font-size: 30px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: #232323;
    justify-content: space-between;
}

.question__arrow{
    border-radius: 50%;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.question__arrow--rotate{
    transform: rotate(180deg);
}

.questions__img{
    display: block;
    height: 100%;
    padding: 10px;
}

.questions__show{
    height: 0;
    transition: height .3s;
}


/* Footer */

.footer{
    color: #F5F4F4;
    background: #458389;
    background: linear-gradient(77deg, rgba(69,131,137,1) 0%, rgba(76,78,66,1) 100%);
}

.footer__title{
    font-size: 3rem;
    margin-bottom: 30px;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F5F4F4;
    padding-bottom: 60px;
}

.nav--footer{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border-right: 1px solid #F5F4F4;
    padding-left: 10px;
    padding-right: 2%;
    margin: 0;
    margin-right: 2%;
}

.nav--footer p{
    font-size: 20px;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.nav__link__footer--menu{
    display: flex;
    flex-wrap:  wrap;
    margin-left: 0;
    margin-top: 10px;
}


.nav__link--footer  .nav__links{
    padding-left: 0;
    padding-right: 15px;
}

.footer__contacts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    bottom: 0;
}


.footer__contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.footer__contacts p{
    padding: 10px;
    font-size: 20px;
}

.footer__copy{
    --padding-container:30px 0;
    text-align: center;
    color: #F5F4F4;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 50px;
    margin: 10px;
}

/* Media queries */

@media (max-width:1400px){

    .cta{
        width: 25%;
    }

    .article__video{

        width: 70%;

    }

}

@media (max-width:1300px){

    .hero__divimg{
        width: 70%;

    }

    .about__main{
        margin-top: 0;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }

    .about__icons{
        width: 300px;
        height: 250px;
    }

    .article__process{
        padding: 10px;
    }

    .article__videos{
        width: 90%;
    }
    
    .article__video{
        height: 90%;
    }

}

@media (max-width:1120px){

    .hero__title{
        font-size: 4em;
    }

    .hero__subtitle{
        font-size: 3em;
    }

    .about__icons{
        width: 300px;
        height: 250px;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    .cta{
        width: 30%;
    }

    .article__video{
        height: auto;

    }

    .questions__title{
        font-size: 25px;
    }


}

@media (max-width:980px){

    .hero{
        height: 90vh;
    }

    .article__texts{
        padding-top: 0%;
    }

    .hero__paragraph p{
        width: 60%;
    }

    .article h1{
        font-size: 3rem;
    }

    .article h3{
        font-size: 1.5rem;
    }

    .article__paragraph{
        font-size: 18px;
    }

    .article__videos h2{
        font-size: 1.5rem;
    }

    .cta{
        width: 40%;
    }


    .questions__container{
        padding-top: 10px;
    }

    .questions{
        padding: 0;
    }

}


@media (max-width:800px){

    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #232323;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 5;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__container{
        margin-top: 90px;
    }

    .hero__subtitle{
        font-size: 1.5rem;
    }

    .hero__title{
        font-size: 2.5rem;
    }

    .about{
        padding-top: 30px;
        height: auto;
    }

    .about__main{
        gap: 2em;
    }

    .about__main{
        padding: 5px;
        padding-top: 30px;
    }

    .about__main{
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));

    }

    .about__icons{
        width: 250px;
        height: 200px;

    }

    .about__icon{
        width: 30px;
    }

    .about__title{
        font-size: 1.3rem;
    }

    .about__paragraph{
        font-size: 0.8rem;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    .article{
        height: auto;
    }

    .article__paragraph{
        font-size: 16px;
    }

    .article__container{
        grid-template-columns: none;

    }

    .article__process{
        height: 300px;
    }

    .article__video{
        display: none;
    }

    .article__videos h2{
        font-size: 2rem;
    }


    .article__videos a{
        display: block;
        font-size: 1.5rem;
        color: #FFFFA2;
        border-radius: 100vmax;
        padding: 10px 30px;
    }

    .article__videos a:hover{
        background: #232323;
        transition: 0.5s;
    }

    .cta{
        width: 30%;
        font-size: 16px;
    }

    .projects__title h1{
        font-size: 3rem;
    }

    .projects__item{
        width: 40%;
        margin: 15px;
    }

    .projects__caption{
        font-size: 14px;
        padding: 0;
        padding-top: 25px;
        margin: auto;
    }



    .questions h1{
        font-size: 3rem;
    }

    .questions__title{
        font-size: 20px;
    }

    .footer__container{
        flex-direction: column;
        padding: 2%;
    }

    .navF{
        width: 100%;
        border-right:none;
        border-bottom: 1px solid #F5F4F4;
        padding-right: 0%;
        padding-bottom: 2%;
    }

    .footer__contacts{
        width: 100%;
        padding-top: 2%;
    }

}

@media (max-width:620px){

    .about h2{
        font-size: 1.5rem;
    }

    .about h1{
        font-size: 2.5rem;
    }

    .about__icons{
        width: 90%;
        height: 180px;
    }

    .cta{
        width: 50%;
    }

    .questions p{
        font-size: 16px;
    }



}

@media (max-width:500px) {
    
    .hero__paragraph p{
        width: 90%;
        font-size: 16px;
    }

    .hero__divimg{
        width: 90%;
    }

    .about__icons{
        padding: 10px;
    }

    .article__texts h1{
        padding-bottom: 10px;
        font-size: 1.5rem;
    }

    .article__texts h3{
        font-size: 18px;
    }

    .article__paragraph{
        font-size: 14px;
    }

    .cta{
        font-size: 14px;
    }

    .article__videos{
        height: 150px;
    }

    .article__videos h2{
        font-size: 1.5rem;
    }

    .projects__title h1{
        font-size: 2rem;
    }

    .projects__item{
        width: 70%;
    }

    .projects__caption{

        font-size: 20px;
    }
    
    .questions h1{
        font-size: 2rem;
    }


    .questions__container{
        padding-top: 20px;
        padding-bottom: 50px;
    }
    
    .questions__title{
        font-size: 16px;
    }

    .footer__copy{
        padding-top: 10px;
    }

    .footer__img{
        width: 30px;
    }

}

@media (max-width:385px) {

    .article__videos{
        margin-bottom: 100px;
    }

    .projects__caption p{
        font-size: 16px;
    }

    .footer__title{
        font-size: 2rem;
    }
    
    .nav--footer p{
        font-size: 16px;
    }

    .footer__contacts p{
        font-size: 16px;
    }
}

@media (max-width:350px) {

    .article__paragraph{
        font-size: 14px;
    }
    .article__process h2{
        font-size: 16px;
    }

    .article__process a{
        font-size: 16px;
    }

    .projects__caption p{
        font-size: 14px;
    }
    
    .questions  p{
        font-size: 14px;
    }

    .questions__title{
        font-size: 14px;
    }

}